@font-face {
  font-family: "iconfont"; /* Project id 4442411 */
  src: url('iconfont.woff2?t=1709132231882') format('woff2'),
       url('iconfont.woff?t=1709132231882') format('woff'),
       url('iconfont.ttf?t=1709132231882') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suijibofang:before {
  content: "\e603";
}

.icon-24gl-repeatOnce:before {
  content: "\ea75";
}

.icon-danquxunhuan:before {
  content: "\e604";
}

.icon-shunxubofang:before {
  content: "\e871";
}

.icon-step-backward:before {
  content: "\e8f0";
}

.icon-step-forward:before {
  content: "\e8f1";
}

.icon-indent:before {
  content: "\e7f3";
}

.icon-outdent:before {
  content: "\e7f4";
}

.icon-unorderedlist:before {
  content: "\e7f5";
}

.icon-poweroff-circle-fill:before {
  content: "\e847";
}

.icon-play-circle-fill:before {
  content: "\e848";
}

.icon-backward:before {
  content: "\e8ec";
}

.icon-forward:before {
  content: "\e8ee";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-shengyinjingyin:before {
  content: "\eca9";
}

.icon-shengyin:before {
  content: "\e8b8";
}

