.flex {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-col-center {
	align-items: center;
}

.flex-col-stretch {
	align-items: stretch;
}

.flex-col-top {
	align-items: flex-start;
}

.flex-col-bottom {
	align-items: flex-end;
}

.flex-row-center {
	justify-content: center;
}

.flex-row-left {
	justify-content: flex-start;
}

.flex-row-right {
	justify-content: flex-end;
}

.flex-row-between {
	justify-content: space-between;
}

.flex-row-around {
	justify-content: space-around;
}