:root {
  // button
  --button-border-color:#454545;
  --button-hover-bg-color: #8c9ce4;

  // card
  --card-hover-bg-color: #2e2e2e;
  --card-color-grey-shallow: #727272;

  // header
  --header-bg-color: #252525;

  // menu
  --menu-bg-color: #ededed;
  --menu-text-color: #9b9999;
  --menu-item-hover-bg-color: #d8d8d8;
  --menu-item-active-bg-color: #eb1b1b;
  --menu-item-active-text-color: #ffffff;

  // color
  --font-color-grey: #808080;

  // theme
  --theme-color: #d33a31;
}